@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    font-family: 'merriweather';
}
html{
    height: 100%;
}
body{
    height: 100%;
    background-color: rgb(131, 16, 5);
}
.box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    border-radius: .5em .5em 0em 0em;
    background-color: rgb(143, 22, 0);
    text-align: center;
}
#redireccion{
    margin: 1em;
    color: white;
}
#redireccion a{
    color: white;
    text-decoration: none;
}
#redireccion a:hover{
    text-decoration: 2px underline;
}
h1{
    padding: 0.5em 0em;
    color: white;
}
form{
    font-size: larger;
    color: white;
    text-align: center;
    padding: 2em 3em;
    background-color: rgb(179, 33, 19);
}
input{
    border: none;
    box-shadow: 5px 5px 0px black;
    padding: 0.5em;
    font-size: large;
    margin-bottom: 1em;
}
#login{
    border: none;
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 5em;
    background-color: white;
    transition: .2s ;
}
#login:hover{
    cursor: pointer;
    background-color: red;
}